<form [formGroup]="signUpForm" >
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" formControlName="firstName"  class="form-control"/>
        <div class="text-danger" *ngIf="signUpForm.get('firstName')?.hasError('required') && signUpForm.get('firstName')?.touched">
            firstName is required
        </div>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" formControlName="lastName"  class="form-control"/>
        <div class="text-danger" *ngIf="signUpForm.get('lastName')?.hasError('required') && signUpForm.get('lastName')?.touched">
            last name is required
        </div>
    </div>
    <div class="mb-3">
        <label>Email Id</label>
        <input type="email" formControlName="emailId"  class="form-control"/>
        <div class="text-danger" *ngIf="signUpForm.get('emailId')?.hasError('required') && signUpForm.get('emailId')?.touched">
            Email Id is required
        </div>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="text" formControlName="password"  class="form-control"/>
        <div class="text-danger" *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
            Password is required
        </div>
    </div>
    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="text" formControlName="confirmPassword"  class="form-control"/>
        <div class="text-danger" *ngIf="signUpForm.get('confirmPassword')?.hasError('required') && signUpForm.get('confirmPassword')?.touched">
            confirm password is required
        </div>
    </div>
    <input type="button" class="btn btn-primary" value="Sign Up" (click)="signUp()"/>
</form>