
<h2>Employee List</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>s.N.</th>
            <th>Name</th>
            <th>City</th>
            <th>Region</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let e of empCollection; index as i">    
            <td>{{i+1}}</td>
            <td>{{e.fullName}}</td>
            <td>{{e.city}}</td>
            <td>{{e.regionName}}</td>
            <td>
                <input type="button" class="btn btn-link" 
                value="Edit" (click)="editEmployee(e.id)">
            </td>
        </tr>
    </tbody>
</table>