<div *ngIf="isSuccessful" class="alert alert-success alert-dismissable fade show mb-3" role="alert">
    <strong>Product has been updated! </strong>
    <a [routerLink]="'/product/list'"> Go to List</a>
</div>


<h2>Update Product</h2>
<hr>
<input type="button" class="btn btn-warning mb-3" value="Fill old Product" (click)="setData()" />
<form [formGroup]="editProductForm">
    <div class="row" id="1-row">
        <div class="col-4 mb-3">
            <label for="">Enter Product Name</label>
            <input type="text" formControlName="name" class="form-control"/>
        </div>

        <div class="col-4 mb-3">
            <label for="">Enter Supplier</label>
            <select  formControlName="supplierId" class="form-control">
                <option> Select</option>
                <option *ngFor="let s of shipperCollection" [ngValue]="s.id" >{{s.name}}</option>
            </select> 


        </div>
        <div class="col-4 mb-3">
            <label for="">Enter Category</label>
            <input type="number" min="0" formControlName="categoryId" class="form-control"/>
        </div>
    </div>

    <div class="row" id="2-row">
        <div class="col-4 mb-3">
            <label for="">Enter QuantityPerUnit</label>
            <input type="number" min="0" formControlName="quantityPerUnit" class="form-control"/>
        </div>
        <div class="col-4 mb-3">
            <label for="">Enter UnitPrice</label>
            <input type="number" min="0" formControlName="unitPrice" class="form-control"/>
        </div>
        <div class="col-4 mb-3">
            <label for="">Enter UnitsInStock</label>
            <input type="number" min="0" formControlName="unitsInStock" class="form-control"/>
        </div>
    </div>

    <div class="row" id="3-row">
        <div class="col-4 mb-3">
            <label for="">Enter UnitsOnOrder</label>
            <input type="number" min="0" formControlName="unitsOnOrder" class="form-control"/>
        </div>
        <div class="col-4 mb-3">
            <label for="">Enter reorderLevel</label>
            <input type="number" min="0" formControlName="reorderLevel" class="form-control"/>
        </div>
        <div class="col-4 mb-3">
            <label for="">Enter Discontinued</label>
            <select formControlName="discontinued" class="form-control"> 
                <option >Select</option>
                <option value="0">False</option>
                <option value="1">True</option>
              
            </select>
        </div>

       
    </div>
    


    <input type="button" class="btn btn-primary me-4" [disabled]="!editProductForm.valid" value="Update Product " (click)="updateProduct()"/>
         
    <input type="button" class="btn btn-info" value="Product List" (click)="Go()"/>


    
   
</form>


