<form #addRegion="ngForm" (submit) ="insertRegion(addRegion)" >
    <div class="row">
        <div class="col-3">
            <div class="mb-3">
                <label for="txtFName">Region Name</label>
                <input id="txtFName" [(ngModel)]="region.RegionName" name="RegionName" class="form-control"/>
            </div>
        </div>
    
    </div>

    <input type="submit" value="Add region" class="btn btn-primary"/>
    <input type="button" value="Cancel" class="btn btn-default" (click)="resetPage(addRegion)"/>
</form>

