
<div *ngIf="isSuccessful" class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>Region has been updated! </strong>
  
    <a [routerLink]="'/region/list'"> Go to List</a>
</div>

<h2>Edit Region</h2>
<hr>
<input type="button" class="btn btn-warning mb-3" value="Fill old region" (click)="setData()" />

<form [formGroup]="editRegionForm">
   <div class="form-group mb-3">
       <label >Enter Region Name</label>
       <input type="text" formControlName="regionName" class="form-control"/>
       <div class="text-danger" *ngIf="editRegionForm.get('regionName')?.hasError('required') && editRegionForm.get('regionName')?.touched ">
           Region is required.
       </div>

       <div class="text-danger" *ngIf="editRegionForm.get('regionName')?.hasError('minlength') && editRegionForm.get('regionName')?.touched">
           Minimum 4 characters are required
       </div>
   </div>

   
   <input type="button" class="btn btn-primary" [disabled]="!editRegionForm.valid" value="Update Region " (click)="updateRegion()"/>
</form>